<header>
  <nav class="header-nav-adm header-nav">
    <a class="header-title" href="/">Admin</a>
    <ul>
      <li><a class="nav-item-admin" href="/users">Usuários</a></li>
      <li><a class="nav-item-admin" href="/cities">Cidades</a></li>
      <li><a class="nav-item-admin" href="/OD/Atibaia">OD</a></li>
      <li><a class="nav-item-admin" href="#">Indicadores</a></li>
    </ul>
    <form action="/logout?_method=DELETE" method="POST">
      <button class="logout-button btn-secondary" type="submit">
        <i class="bi-box-arrow-right"></i>
      </button>
    </form>
  </nav>
</header>