<header>
    <nav class="header-nav">
      <a class="header-title" href="/">AppTeste</a>
      <ul>
        <li><a href="/users">Usuários</a></li>
        <li><a href="/users/new">Adicionar Usuário</a></li>
        <li><a href="/cidades">Cidades</a></li>
      </ul>
      <form action="/logout?_method=DELETE" method="POST">
        <button type="submit">Log Out</button>
      </form>
    </nav>
  </header>