<header>
  <nav class="header-nav">
    <a class="header-logo" href="/">
      <img src="/img/LogoTranzum.png" alt="Logo da Tranzum">
    </a>
    <ul>
      <li><a class="nav-item-user" href="/OD/<%= user.city.name %> ">Matriz OD</a></li>
      <li><a class="nav-item-user" href="/indicadores">Indicadores</a></li>
    </ul>
    <form action="/logout?_method=DELETE" method="POST">
      <button class="logout-button btn-secondary" type="submit">
        <i class="bi-box-arrow-right"></i>
      </button>
    </form>
  </nav>
</header>