<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link id="main-css" rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link href="/css/bootstrap-icons.css" rel="stylesheet">
        <script src="/js/bootstrap.min.js"></script>
        
        <title>AppTz</title>
    </head>
    <body>
        <script>0</script> <!-- fix firefox bug -->
        <div class="header-background-adm">
            <div class="container">
                <%- include('../partials/admin-header.ejs') %>
            </div>
        </div>
        <div class="container">
            <%- include('../partials/errorMessage.ejs') %>
        </div>
        <%- body %>
    </body>
</html>