<div class="form-row">
  <div class="form-item">
    <label>Nome da cidade</label>
    <input type="text" name="name" required>
  </div>
  <div class="form-item">
    <label>Zoneamento da cidade</label>
    <input type="file" name="zoneamento" required>
  </div>
</div>