:root {
  /* ADM */
  --color-background-dark-adm: rgba(146, 81, 43, 0.842);
  --color-background-light-adm: rgba(146, 81, 43, 0.432);
  /* USER */
  --color-background-header-user: rgba(85, 85, 85, 0.505);
  --color-background-body-user: rgba(173, 173, 173, 0.305);
  }