<div class="form-row">
    <div class="form-item">
      <label>Nome do usuário</label>
      <input type="text" name="name" value="<%= user.name %>" required>
      <label>Email</label>
      <input type="email" name="email" value="<%= user.email %>" required>
      <label>Cidade</label>
      <input type="text" name="city" value="<%= user.city %>" required>
      <label>Senha</label>
      <input type="password" name="password" value="<%= user.password %>" required>
    </div>
  </div>