<div class="form-row">
  <div class="input-group mb-3">
    <span class="input-group-text">
      <i class="bi-person-fill"></i>
    </span>
    <input type="text" name="name" placeholder="Nome do usu치rio" required class="form-control" aria-label="Username">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text">
      <i class="bi-map-fill"></i>
    </span>
    <input type="text" name="city" placeholder="Cidade do usu치rio" required class="form-control" aria-label="City">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text">
      <i class="bi-envelope-fill"></i>
    </span>
    <input type="email" name="email" placeholder="Email do usu치rio" required class="form-control" aria-label="Email">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text">
      <i class="bi-shield-lock-fill"></i>
    </span>
    <input type="password" name="password" placeholder="Senha do usu치rio" required class="form-control" aria-label="Password">
  </div>
</div>