<h2 class="page-header">Edit User</h2>
<form action="/users/<%= user.id %>?_method=PUT" method="POST">
  <%- include('_edit_form_fields') %>
  <div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/users/">Cancel</a>
    <button class="btn btn-primary" type="submit">Update</button>
  </div>
</form>